body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #333;
	font-size: 14px;
	font-family: "Arial", "榛戜綋", "瀹嬩綋", sans-serif;
}

td,
th,
caption {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: middle;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px "Arial", "Microsoft YaHei", "榛戜綋", "瀹嬩綋", sans-serif;
}

input{
	outline: 0;
}

button {
	text-align: center;
	border: none;
	outline: 0;
	cursor: pointer;
}

table {
	border-collapse: collapse;
}


html {
	overflow-y: auto;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

/*鍏叡绫�*/

.fl {
	float: left
}

.fr {
	float: right
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.cursor-pointer {
	cursor: pointer;
}

/*----------------------------flex甯冨眬----------------------------------------------*/
.flex {
	display: flex;
	display: -webkit-flex;
}

.flex-1 {
	flex: 1;
	-webkit-flex: 1;
}

.flex-row {
	flex-direction: row;
	-webkit-flex-direction: row;
}

.flex-column {
	flex-direction: column;
	-webkit-flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
}

.flex-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.flex-align {
	-webkit-align-items: center;
	align-items: center;
}

/*----------------------------瀛椾綋澶у皬绫�----------------------------------------------*/
.fs-18 {
	font-size: 18px;
}

.fs-16 {
	font-size: 16px;
}

.fs-15 {
	font-size: 15px;
}

.fs-14 {
	font-size: 14px;
}

.fs-12 {
	font-size: 12px;
}

.fs-10 {
	font-size: 10px;
}

.bg-fff {
	background-color: #fff;
}

.color-fff {
	color: #fff;
}

.overflow-hidden {
	overflow: hidden;
}

.valign-middle {
	vertical-align: middle;
}

.cur-point {
	cursor: pointer;
}
.fw-550{
	font-weight: 550;
}
.fw_bold {
	font-weight: bold;
}
.block{
	display: block;
}


/* ie10兼容flex */
/*display*/
.flex{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}
.flex > *{
    display: block;
}
.inline-flex{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;    
}
.inline-flex > *{
    display: block;
}
/*伸缩流方向*/
.flex-column{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*主轴对齐*/
.justify-content_flex-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.justify-content_flex-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.justify-content_flex-justify{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*侧轴对齐*/
.align-items_flex-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.align-items_flex-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.align-items_center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.align-items_baseline{
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
/*伸缩性*/
.flex_auto{
    -webkit-box-flex: 1;
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
}
.flex_1{
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;    
}
/*显示顺序*/
.order_2{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.order_3{
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}